@model  IEnumerable<Gip.Models.Room>
</Gip.Models.Room> @{
ViewData["Title"]="Index" ;
}

<h1>Overzicht van de lokalen</h1>
<table>
    @foreach (var lokaal in Model)
    {
        <tr>@lokaal.Capaciteit</tr>
    }
</table>