
@{
    ViewData["Title"] = "Index";
}

<h1>Overzicht van de lokalen</h1>
<table>
    @foreach (var lokaal in Model)
    {
        <tr>
            <td>@lokaal.lokaalId<td>
        </tr>
    }
</table>