@model IEnumerable<Gip.Models.Course>
    <Gip.Models.Course>
        @{
            ViewData["Title"] = "Index";
        }

        <h1>Overzicht van de vakken</h1>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addVak" style="float:right">Vak toevoegen</button>
        <div class="modal fade" id="addVak" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Een vak toevoegen?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/vak/add" method="post">
                            <div class="form-group">
                                <label for="Vakcode" class="col-form-label">Vakcode:</label>
                                <input type="text" class="form-control" id="Vakcode" placeholder="Bv. MGP05A..." name="Vakcode">
                            </div>
                            <div class="form-group">
                                <label for="titel" class="col-form-label">Titel:</label>
                                <input type="text" class="form-control" id="titel" placeholder="Bv. Java,PHP..." name="titel">
                            </div>
                            <div class="form-group">
                                <label for="studiepunten" class="col-form-label">Studiepunten:</label>
                                <input type="number" max="25" class="form-control" id="studiepunten" placeholder="Bv. 5,7..." name="studiepunten">
                            </div>
                            <button type="submit" class="btn btn-primary">Voeg vak toe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <tr>

                <th>Vakcode</th>
                <th>Titel</th>
                <th>Studiepunten</th>
                <th>Delete</th>
                <th>Edit</th>

            </tr>
            @foreach (var vak in Model)
            {
                <tr>
                    <td>@vak.Vakcode</td>
                    <td>@vak.Titel</td>
                    <td>@vak.Studiepunten</td>
                    <td>
                        <form action="/vak/delete" method="post">
                            <input type="text" name="vakcode" style="display: none" value="@vak.Vakcode">
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <button type="button" class="btn-dark" data-toggle="modal" data-target="">Edit</button>
                    </td>
                </tr>

            }
        </table>
