@model IEnumerable<Gip.Models.Planner>
<Gip.Models.Planner>



    @{
        ViewData["Title"] = "Index";
    }

    <h1>Planner</h1>


    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>Datum</th>
            <th>Lokaal</th>
            <th>Vak</th>
        </tr>

        <tr>
            <td>
                <input type="date" id="date" name="dat" />
                <input type="time" id="uur" name="uur" min="06:00" max="22:00" />
                <small>Openingstijden van 06:00 tot 22:00</small>
            </td>

            <td>
            @foreach (var planner in Model)
            {
                <select>
                    <option value="lokaalId">@planner.Gebouw.Trim()@planner.Verdiep@planner.Nummer</option>
                </select>
            }

            </td>
            <td>

            </td>  
        </tr>
    </table>


