@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gip project</h1>
    <p>Tim Kerckx, Thomas Claes, Karel de Smet, Jaimie Haesevoets, Joni Timmermans</p>
</div>
