@{
    ViewData["Title"] = "Home Page";
}


<h1>GIP Opdracht</h1>
<br />
<p class="font-weight-bold">Teamleden: </p>
<p>Thomas Claes, Joni Timmermans, Karel de Smet, Jaimie Haesevoets, Tim Kerckx</p>













