@{
    ViewData["Title"] = "Home Page";
}


<h1>GIP Opdracht</h1>
<br />
<p class="font-weight-bold">Korte beschrijving van het project:</p>
<p class="text-left">
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
    Hier komt een beschrijving. <br />
</p>











