@{
    ViewData["Title"] = "Home Page";
}


<h1>GIP Opdracht</h1>
<br />
<p class="font-weight-bold">Teamleden: </p>
<p>Thomas Claes, Joni Timmermans, Karel de Smet, Jaimie Haesevoets, Tim Kerckx</p>
<p class="font-weight-bold">Korte beschrijving van het project:</p>
<p class="text-left">
    Na de groepverdeling van het project zijn wij meteen begonnen met het brainstormen hierover. <br />
    Aangezien die week de vakantie begon, was dit ideaal en hebben we in de week van de vakantie vier fysieke contactmomenten gehad. <br />
    Tim vertrok die zondag voor de week vakantie op een lang vooraf geplande skivakantie, dus jammer genoeg heeft hij niet kunnen meewerken aan het eerste deel van het project. <br /><br />
    Bij het eerste fysieke moment hebben we vooral besproken hoe we het gingen aanpakken en wie zich op wat ging focussen <br />
    Na deze afspraken werd ook tot laat s'nachts aan het project gewerkt door de 4 groepsleden. <br />
    De dagen nadien volgde er meerdere fysieke contactmomenten op campus Proximus. <br />
    Al bij al ging het goed vooruit, hier en daar een beetje miscommunicatie tussen de teamleden maar dit werd dan altijd weer opgelost. <br />
    Thomas en Karel hebben zich vooral gefocust op de back end van de applicatie alhoewel de andere teamleden hier ook actief bij bezig waren, Joni en Jaimie richtte zich dan weer op de front end 
    van de applicatie maar ook hier hielp de rest van het team actief aan mee. <br />
    Dus je kan stellen dat alle front end en back end in teamverband is gemaakt. 
</p>











